
[data-theme="luxury"] .starscreen {
  height: 75vh;
  background-image: url("./stake-pool-hero.jpg");
  
}
[data-theme="otg"] .starscreen {
  height: 75vh;
  background-image: url("./stake-pool-hero.jpg");
  
}
