
[data-theme="luxury"] .starscreen {
  height: 75vh;
  background-image: url("./stake-pool-hero.jpg");
  
}
[data-theme="otg"] .starscreen {
  height: 75vh;
  background-image: url("./stake-pool-hero.jpg");
  
}
.menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul).active), .menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):active) {
  --tw-bg-opacity: .5;
  background-color: none;
  --tw-text-opacity: 1;
  color: hsl(var(--pc) / var(--tw-text-opacity));
}